[Desktop Entry]
Type=Application
Exec=tint2
Icon=tint2
X-GNOME-Autostart-enabled=true
X-MATE-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name=Tint2
Comment=System Panel
X-GNOME-Autostart-Delay=0
