[Desktop Entry]
Type=Application
Exec=albert
Icon=albert
X-GNOME-Autostart-enabled=true
X-MATE-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name=Albert
Comment=Application Launcher
X-GNOME-Autostart-Delay=0
